{% extends "vue_framework.html" %}

{% block title %} 容器管理 {% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/typo.css@2.1.2/typo.css"/>
{% endblock %}

{% block body %}
  <div id="content"
       v-loading="loading"
       element-loading-text="拼命加载中"
       element-loading-spinner="el-icon-loading"
       element-loading-background="rgba(0, 0, 0, 0.8)"
  >
    <el-container style="min-height: 450px;border: 1px solid #eee">
      <el-header>
        <el-row type="flex" justify="space-around" align="middle">
          <el-col :span="6">
            <h2>容器管理</h2>
          </el-col>
          <el-col :span="6">
            <div>{{ user.name }}:
              <a href="/adm/logout" title="click to logout"> 登出 </a>
            </div>
          </el-col>
        </el-row>
      </el-header>
      <el-container>

        <el-aside width="200px" style="background-color: rgb(238, 241, 246); padding-left:10px">
          <h3>文档</h3>

          <br/>
          <div>
            {% for post in billboard %}
              <div>
                <a href="{% url 'show_billboard' post_id=post.id %}" target="_blank">
                  {{ post.created|date:"c" }} {{ post.title }}
                </a>
              </div>
            {% endfor %}
          </div>

          {% if user.is_admin %}
            <br/>
            <el-button @click="emailInvite">邀请注册</el-button>
          {% endif %}
        </el-aside>

        <el-container>
          <el-main>
            <el-table
                    :data="tableData">
              <el-table-column
                      prop="create"
                      label="创建时间"
                      width="120">
              </el-table-column>
              <el-table-column
                      prop="container_id"
                      label="容器ID"
                      width="120">
              </el-table-column>
              <el-table-column
                      prop="user"
                      label="拥有者"
                      width="100">
              </el-table-column>
              <el-table-column
                      prop="pwd"
                      label="密码"
                      width="140">
              </el-table-column>
              <el-table-column
                      prop="method"
                      label="加密方式"
                      width="120">
              </el-table-column>
              <el-table-column
                      prop="port"
                      label="端口"
                      width="100">
              </el-table-column>
              <el-table-column
                      prop="more_sec"
                      label="安全强化"
                      width="80">
              </el-table-column>
              <el-table-column
                      prop="type"
                      label="类型"
                      width="60">
              </el-table-column>
              <el-table-column
                      prop="note"
                      label="备注"
                      width="140">
              </el-table-column>

              <el-table-column label="操作">
                <template slot="header" slot-scope="slot">
                  {#操作#}
                  <el-dropdown type="primary" size="mini" style="color: #409EFF;">
                    <span class="el-dropdown-link">新建<i class="el-icon-arrow-down el-icon--right"></i></span>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item @click.native="createSS(0)"
                                        title="新建一个 SS 容器"
                                        plain>
                        SS 容器
                      </el-dropdown-item>

                      <el-dropdown-item @click.native="createV2ray()"
                                        title="新建一个 V2ray 用户"
                                        plain>
                        V2ray 容器
                      </el-dropdown-item>

                      <el-dropdown-item divided
                                        type="danger"
                                        icon="el-icon-delete"
                                        @click.native="deleteAll()"
                                        title="重置会删除所有的SS 容器或 V2ray 容器，并清空相关记录"
                                        plain>
                        重置
                        </el-button>
                      </el-dropdown-item>

                    </el-dropdown-menu>
                  </el-dropdown>
                </template>

                <template slot-scope="slotProps">
                  <el-button size="mini" type="danger" @click="goDelete(slotProps.row)">
                    删除
                  </el-button>
                  {% if user.is_admin %}
                    <el-button size="mini" type="normal" @click="goRestore(slotProps.row)">
                      还原
                    </el-button>
                    <el-button size="mini" @click="transfer(slotProps.row)" plain>
                      转移
                    </el-button>
                    <el-button size="mini" plain>
                      安全强化
                    </el-button>
                  {% endif %}
                  <el-button size="mini" plain @click="openQR(slotProps.row)">
                    二维码
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-main>
          <el-footer>
          </el-footer>
        </el-container>
      </el-container>
    </el-container>

    <el-dialog title="准备创建新容器" :visible.sync="cFormVisible">
      <el-form :model="cform">
        <el-form-item label="备注" label-width="80px">
          <el-input v-model="cform.note" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="加密方式" label-width="80px">
          <el-select v-model="cform.enc"
                     placeholder="默认：aes-128-gcm"
                     no-data-text="aes-128-gcm"
          >
            <el-option v-for="item in encrypt_method" :key="item" :value="item" :label="item">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="createSS(1)">确 定</el-button>
      </div>
    </el-dialog>
  </div>

{% endblock %}

{% block js %}
  <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.min.js"
          integrity="sha384-Dr98ddmUw2QkdCarNQ+OL7xLty7cSxgR0T7v1tq4UErS/qLV0132sBYTolRAFuOV"
          crossorigin="anonymous"></script>
  <script>
      let Main = {
          el: '#content',

          data() {
              return {
                  loading: false,

                  encrypt_method: [null, "rc4-md5", "aes-128-gcm", "aes-192-gcm", "aes-256-gcm", "aes-128-cfb", "aes-192-cfb", "aes-256-cfb", "aes-128-ctr", "aes-192-ctr", "aes-256-ctr", "camellia-128-cfb", "camellia-192-cfb", "camellia-256-cfb", "bf-cfb", "chacha20-ietf-poly1305", "xchacha20-ietf-poly1305", "salsa20", "chacha20", "chacha20-ietf",],
                  ip: "{{ IP }}",
                  tableData: JSON.parse('{{ ds|safe }}'),
                  message: "{{ message }}",
                  cFormVisible: false,
                  cform: {},
              }
          },
          beforeMount() {
              let vm = this
              // vm.loadData()
              if (vm.$data.message !== "False") {
                  this.$notify({
                      title: 'Tips',
                      type: 'info',
                      message: "{{ message }}",
                  })
              }
          },
          methods: {
              loadData: function () {
                  let vm = this
                  axios.get("/c/api/user_data").then((resp) => {
                      vm.$data.tableData = resp.data.rv
                  })
              },
              emailInvite: function () {
                  this.$prompt('受邀邮件地址', '请输入', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                  }).then(({value}) => {
                      axios.post(window.location.href,
                          {"email": value, "action": "invite"}
                      )
                  })
              },

              transfer: function (dom) {
                  this.$prompt('转入的用户', '请输入', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                  }).then(({value}) => {
                      axios.post(window.location.href,
                          {"note": value, "action": "transfer", "usr": value, "id": dom.container_id}
                      )
                  })
              },

              createSS: function (c) {
                  let vm = this

                  if (c) {
                      vm.$data.cFormVisible = false
                      vm.$data.loading = true

                      axios.post(window.location.href, {
                          "action": "new",
                          "note": vm.$data.cform.note,
                          "enc": vm.$data.cform.enc,
                      }).then(() => {
                          vm.$data.loading = false
                      })
                  } else {
                      vm.$data.cFormVisible = true
                  }
              },

              goDelete: function (dom) {
                  let vm = this
                  vm.$data.loading = true

                  if (dom.type === "v2ray") {
                      vm.deleteV2ray().then(() => {
                          vm.$data.loading = false
                      })

                      return
                  }

                  if (dom.container_id) {
                      axios.delete(window.location.href, {data: {"id": dom.container_id}})
                          .then(() => {
                              vm.$data.loading = false
                          })
                  } else {
                      vm.$notify({
                          title: 'Tips',
                          type: 'error',
                          message: "请求删除出错, 请刷新",
                      })
                  }
              },

              goRestore: function (dom) {
                  let vm = this
                  vm.$data.loading = true

                  if (dom.container_id) {
                      axios.post(window.location.href, {"id": dom.container_id, "action": "restore"})
                          .then(() => {
                              vm.$data.loading = false
                          })
                  } else {
                      vm.$notify({
                          title: 'Tips',
                          type: 'error',
                          message: "请求删除出错",
                      })
                  }
              },

              openQR: function (dom) {
                  let vm = this
                  let qr = new QRious({
                      size: 150,
                      value: "ss://" +
                          btoa(dom.method + ":" + dom.pwd + "@" + vm.$data.ip + ":" + dom.port) +
                          "#" + dom.user,
                  })
                  vm.$alert('<img src="' + qr.toDataURL('image/jpeg') + '" />', '二维码', {
                      dangerouslyUseHTMLString: true
                  })
              },

              deleteAll: function () {
                  let vm = this
                  vm.$data.loading = true
                  axios.put(window.location.href)
                      .then(() => {
                          vm.$data.loading = false
                      })
              },

              createV2ray: function () {
                  let vm = this
                  vm.$data.loading = true
                  return axios.put("/c/v2ray", {}).then(() => {
                      vm.$data.loading = false
                  })
              },

              deleteV2ray: function () {
                  let vm = this
                  vm.$data.loading = true
                  return axios.delete("/c/v2ray", {}).then(() => {
                      vm.$data.loading = false
                  })
              },
          }
      }

      window.onload = function () {
          new Vue(Main)
      }
  </script>
{% endblock %}

{% block extra_css %}
  <style>
    .el-header {
      background-color: #B3C0D1;
      color: #333;
      line-height: 60px;
    }

    .el-aside {
      color: #333;
    }

    .el-table--scrollable-x div > .el-button {
      margin-top: .5em
    }
  </style>
{% endblock %}
