<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">

    <title>{% block title %} VUE FrameWork {% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.9/lib/theme-chalk/index.css"/>
    {% block css %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
</head>

<body>

{% block body %}
{% endblock %}

<div hidden>
    {% block default_js %}
        <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"
                integrity="sha384-U/+EF1mNzvy5eahP9DeB32duTkAmXrePwnRWtuSh1C/bHHhyR1KZCr/aGZBkctpY"
                crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"
                integrity="sha384-9MzmvphdUvLZJKasjD7VqYE4SqffhZDOwDTMyokP2tx+fjBo59ljvrlgUAaaME44"
                crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/element-ui@2.4.9/lib/index.js"
                integrity="sha384-WX1WG5odX3Ny1f1xOsz1/jS3uqDUHKpubp7DrUKyAmODL7dxkbZ5DbhDVAqDE1Jy"
                crossorigin="anonymous"
        ></script>

        <script defer>
            let qs = function (params) {
                return Object.keys(params).map(function (key) {
                    return encodeURIComponent(key) + "=" + encodeURIComponent(params[key]);
                }).join("&");
            };

            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.xsrfHeaderName = "X-CSRFToken";

            axios.interceptors.response.use(function (response) {
                if ("location1" in response.headers) {
                    return window.location.href = response.headers.location1;
                } else if ("location" in response.headers) {
                    return window.location.href = response.headers.location;
                } else {
                    return response;
                }
            }, function (error) {
                return Promise.reject(error);
            });

        </script>

    {% endblock %}

    {% block js %}
    {% endblock %}
</div>
</body>
</html>
